<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 이름상관 없음. *.xml로 설정했으니까 -->
<!-- 이 xml이 어떤 interface와 연결되는지 설정 -->
<mapper namespace="com.gong.gu.dao.AdminDAO">

	<!-- 1. 전체 주문리스트 불러오기 -->
   <select id="adOrderList" resultType="hashMap">
      SELECT * FROM board INNER JOIN order_info USING (board_no) INNER JOIN groupbuy_addit USING (board_no) where board_name = '공구게시판'
   </select>
	
	<!-- 2. 전체 문의게시글 리시트 불러오기 -->
	<select id="adInquiry" resultType="hashMap">
      SELECT * FROM board INNER JOIN inquiry_addit USING (board_no)
   </select>

	<!-- 3. 전체 요청게시글 리스트 불러오기 -->
	<select id="adRequire" resultType="hashMap">
      SELECT * FROM board inner JOIN require_addit USING (board_no)
   </select>

	<!-- 4. 전체 문의 게시글 변경된 데이터 값 보내기 -->
	<update id="adminInquiry_update">
   		UPDATE board 
   		SET board_exposure = #{param2}, 
   		board_active = #{param3} 
   		WHERE board_no = #{param1}
   </update>

	<update id="adminInquiry_update2">
		UPDATE inquiry_addit 
		SET inquiry_answer = #{param2} 
		WHERE board_no = #{param1}
	</update>


	<!-- 5. 전체 요청 게시글 변경된 데이터 값 보내기 -->
	<update id="adRequire_update">
   		UPDATE board 
   		SET board_exposure = #{param2}, 
   		board_active = #{param3} 
   		WHERE board_no = #{param1}
   </update>

	<update id="adRequire_update2">
		UPDATE require_addit 
		SET board_select = #{param2} 
		WHERE board_no = #{param1}
	</update>
















<!-- 승규님 작성 -->
	<select id="adgroupbuylist" resultType="hashmap">
	select * from board inner join groupbuy_addit using (board_no)
	</select>

   <update id="adminGroupbuy_update">
   		UPDATE board SET board_exposure = #{param2},board_active=#{param3} WHERE board_no = #{param1};
   </update>

	<update id="adminGroupbuy_update2">
	
		UPDATE groupbuy_addit SET groupbuy_state = #{param2} WHERE board_no = #{param1}; 
	</update>
	
	<update id="gbcancel_no">
	UPDATE board SET board_active = 'N' WHERE board_no = #{param1}
	</update>
	
	<update id="gbcancel_no_act">
	UPDATE groupbuy_addit SET groupbuy_state = '공구실패' WHERE board_no = #{param1}
	</update>
	
	<update id="gbcancel_R">
	UPDATE order_info SET order_etc = #{param2} WHERE board_no = #{param1}
	</update>
	
	<select id="adminuserlist" resultType="hashmap">
	SELECT * FROM user_info
	</select>
	
	<!-- 시작 : 페이징 : 전체주문 -->
	<select id="adorder_allCount" resultType="int">
	select count (order_no) from order_info
	</select>
	<select id="adorder_listCall" resultType="hashmap">
	SELECT * FROM order_info INNER JOIN board USING (board_no) INNER JOIN groupbuy_addit USING (board_no)ORDER BY order_no DESC LIMIT #{param1} offset #{param2}
	</select>
	<!-- 끝 : 페이징 : 전체주문 -->
	
	<!-- 시작 : 페이징 : 문의게시판 -->
	<select id="adInq_allCount" resultType="int">
	select count (board_no) from board where board_name = '문의게시판';
	</select>
	<select id="adInq_listCall" resultType="hashmap">
	SELECT * FROM board INNER JOIN inquiry_addit USING (board_no) ORDER BY board_no DESC LIMIT #{param1} offset #{param2}
	</select>		
	<!-- 끝 : 페이징 : 문의게시판 -->
	
	<!-- 시작 : 페이징 : 요청게시판 -->	
	<select id="adReq_allCount" resultType="int">
	select count (board_no) from board where board_name = '요청게시판';
	</select>
	<select id="adReq_listCall" resultType="hashmap">
	SELECT * FROM board INNER JOIN require_addit USING (board_no) ORDER BY board_no DESC LIMIT #{param1} offset #{param2}
	</select>	
	<!-- 끝 : 페이징 : 요청게시판 -->	
	
	
	<!-- 시작 : 페이징 : 공구게시판 -->	
	<select id="adGrp_allCount" resultType="int">
	select count (board_no) from board where board_name = '공구게시판';
	</select>
	<select id="adGrp_listCall" resultType="hashmap">
	SELECT * FROM board INNER JOIN groupbuy_addit  USING (board_no) ORDER BY board_no DESC LIMIT #{param1} offset #{param2}
	</select>	
	<!-- 끝 : 페이징 : 공구게시판 -->	
	





































	<!-- 검색테스트 -->

	<!-- 6. 찜여부확인 -->
	<select id="wishlist_search" resultType="String" >
		SELECT board_no FROM wishlist WHERE user_id = #{param1}
	</select>


	<!-- 6-1. (검색)공구게시글 불러오기1 -->
	<select id="groupBuyRangeCall_search1" resultType="int">
		SELECT count(board_no) FROM board INNER JOIN photo USING (board_no) 
			WHERE photo_thum = 'Y' AND board_exposure ='Y' AND board_title like '%' #{param1} '%'
	</select>

	<!-- 6-2. (검색)공구게시글 불러오기2 -->
	<select id="groupBuyListCall_search1" resultType="hashmap">
		SELECT b.board_no, b.board_title, p.photo_newname, ga.groupbuy_state, ga.groupbuy_target, ga.groupbuy_unitprice , sum(oi.order_quantity )
		FROM board b
		LEFT JOIN groupbuy_addit ga USING (board_no)
		LEFT JOIN photo p USING (board_no)
		left join order_info oi USING (board_no)
		where p.photo_thum = 'Y' and board_exposure = 'Y' AND board_title like '%' #{param3} '%'
		group by board_no 
		ORDER BY b.board_no DESC LIMIT #{param1} offset #{param2}
	</select>

	<!-- 6-3. (검색)공구게시글 불러오기3 -->
	<select id="groupBuyRangeCall_search2" resultType="int">
	<!-- select count (board_no) from board where board_name = '공구게시판' -->
	SELECT count(board_no) FROM board INNER JOIN photo USING (board_no) INNER JOIN groupbuy_addit ga USING (board_no)
	WHERE photo_thum = 'Y' AND board_exposure ='Y' AND product_category_name = #{param1} AND board_title like '%' #{param2} '%'
	</select>

	<!-- 6-4. (검색)공구게시글 불러오기4 -->
	<select id="groupBuyListCall_search2" resultType="hashmap">
		SELECT b.board_no, b.board_title, p.photo_newname, ga.groupbuy_state, ga.groupbuy_target, ga.groupbuy_unitprice , sum(oi.order_quantity )
		FROM board b
		LEFT JOIN groupbuy_addit ga USING (board_no)
		LEFT JOIN photo p USING (board_no)
		left join order_info oi USING (board_no)
		where p.photo_thum = 'Y' and board_exposure = 'Y' AND ga.product_category_name = #{param3} AND board_title like '%' #{param4} '%' group by board_no
		ORDER BY b.board_no DESC LIMIT #{param1} offset #{param2}
	</select>




	<!-- 7-1. (검색) 문의글 리스트 불러오기 -->
	<select id="list_rangecall_search" resultType="int">
		select count (board_no) from board where board_name = '문의게시판' AND board_title like '%' #{param1} '%'
	</select>

	<!-- 7-2. (검색) 문의글 리스트 불러오기 -->
	<select id="list_listCall_search" resultType="hashmap">
		SELECT * FROM board INNER JOIN inquiry_addit USING (board_no) WHERE board_title like '%' #{param3} '%' ORDER BY board_no DESC LIMIT #{param1} offset #{param2}
	</select>

	<!-- 8-1. (검색)요청글 리스트 범위 불러오기 -->
	<select id="RequestBoardlist_rangecall_search" resultType="int">
	select count (board_no) from board where board_name = '요청게시판' AND board_title like '%' #{param1} '%'
	</select>
	
	<!-- 8-2. (검색)요청글 리스트 불러오기-->
	<select id="RequestBoardlist_listCall_search" resultType="hashmap">
		SELECT * FROM board INNER JOIN require_addit USING (board_no) WHERE board_title like '%' #{param3} '%' ORDER BY board_no DESC LIMIT 10 offset #{param2}
	</select>
	
	
</mapper>