<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 이름상관 없음. *.xml로 설정했으니까 -->
<!-- 이 xml이 어떤 interface와 연결되는지 설정 -->
<mapper namespace="com.gong.gu.dao.AdminDAO">

   <select id="adOrderList" resultType="hashMap">
      SELECT * FROM board INNER JOIN order_info USING (board_no) INNER JOIN groupbuy_addit USING (board_no) where board_name = 'G'
   </select>

   <select id="adInquiry" resultType="hashMap">
      SELECT * FROM board INNER JOIN inquiry_addit USING (board_no)
   </select>

   <select id="adRequire" resultType="hashMap">
      SELECT * FROM board inner JOIN require_addit USING (board_no)
   </select>
   
   
   <update id="adminInquiry_update">
   		UPDATE board SET board_exposure = #{param2},board_active=#{param3} WHERE board_no = #{param1};
   </update>

	<update id="adminInquiry_update2">
	
		UPDATE inquiry_addit SET inquiry_answer = #{param2} WHERE board_no = #{param1}; 
	</update>

	<select id="adgroupbuylist" resultType="hashmap">
	select * from board inner join groupbuy_addit using (board_no)
	</select>

   <update id="adminGroupbuy_update">
   		UPDATE board SET board_exposure = #{param2},board_active=#{param3} WHERE board_no = #{param1};
   </update>

	<update id="adminGroupbuy_update2">
	
		UPDATE groupbuy_addit SET groupbuy_state = #{param2} WHERE board_no = #{param1}; 
	</update>
	
	<update id="gbcancel_no">
	UPDATE board SET board_active = 'N' WHERE board_no = #{param1}
	</update>
	
	<update id="gbcancel_no_act">
	UPDATE groupbuy_addit SET groupbuy_state = '공구실패' WHERE board_no = #{param1}
	</update>
	
	<update id="gbcancel_R">
	UPDATE order_info SET order_etc = #{param2} WHERE board_no = #{param1}
	</update>
	
</mapper>