<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 이름상관 없음. *.xml로 설정했으니까 -->
<!-- 이 xml이 어떤 interface와 연결되는지 설정 -->
<mapper namespace="com.gong.gu.dao.InquireBoardDAO">

	<!-- 문의글쓰기 -->
	<insert id="inqwrite" 
		useGeneratedKeys="true"
		keyProperty="board_no"
		keyColumn="board_no"
		parameterType="com.gong.gu.dto.BoardDTO">
		insert into board
			(user_id,board_title,board_content,board_name)
		values
			('admin01',#{board_title},#{board_content},'문의게시판')
	</insert>
	
	<!-- 문의글 파일올리기 -->
	<insert id="inqfilewrite">
		insert into photo
			(board_no, photo_oriname, photo_newname)
		VALUES
			(#{param1},#{param2},#{param3})
	</insert>
	
	<!-- 문의글쓰기 카테고리별 -->
	<insert id="inqwrite2">
		insert into inquiry_addit
			(board_no,inquiry_category_name)
		values
			(#{param1},#{param2})
	</insert>
	
	
	<!-- 문의글 수정 -->
	<update id="inqupdate" parameterType="HashMap">
		update board set 
			board_title = #{board_title}
			,board_content = #{board_content}
			where board_no = #{board_no}
	</update>
	
	
	<!-- 문의글 리스트 -->
	<select id="list" resultType="com.gong.gu.dto.BoardDTO">
		SELECT board_no,board_title,user_id,board_bHit,board_date,board_exposure 
			FROM board where board_exposure = 'Y'  ORDER BY board_no DESC
	</select>
	
	<!-- 문의글 상세보기 -->
	<select id="detail" resultType="com.gong.gu.dto.BoardDTO">
	SELECT * FROM board WHERE board_no = #{param1}
	</select>

	<!-- 문의글 조회수 올리기 -->

	<update id="upHit">
		UPDATE board SET board_bHit = board_bHit+1 WHERE board_no = #{param1}
	</update>
	
	<!-- 글삭제 -->
	<update id="exposure">
		update board set board_exposure = 'N' where board_no = #{param1}
	</update>
	
	<!-- 사진 출력 -->
	<select id="photolist" resultType="com.gong.gu.dto.PhotoDTO">
		SELECT photo_oriname, photo_newName FROM photo
			WHERE board_no = #{param1} ORDER BY photo_no DESC
	</select>
	
	

</mapper>