<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 이름상관 없음. *.xml로 설정했으니까 -->
<!-- 이 xml이 어떤 interface와 연결되는지 설정 -->
<mapper namespace="com.gong.gu.dao.MemberDAO">

	<select id ="overlay" resultType = "String"> 
		SELECT user_id FROM user_info WHERE user_id = #{param1}
	</select>
	
	<insert id = "join" parameterType="hashmap">
	INSERT INTO user_info 
		(user_id, user_pw, user_name, user_gender, user_birth, user_email, user_phone,
		user_address)
	VALUES
		(#{user_id}, #{user_pw}, #{user_name}, #{user_gender}, #{user_birth}, #{user_email}, 
		#{user_phone}, #{user_address})
	</insert>
	
	<select id = "login" resultType="hashmap">
		SELECT user_id,user_admin FROM user_info
				WHERE user_id = #{param1} AND user_pw = #{param2}
	</select>
	
	<select id="findid" resultType="string">
		SELECT user_id FROM user_info 
		WHERE user_name = #{param1} 
		AND user_birth = #{param2}
		AND user_email = #{param3}
	</select> 
	
	<select id="findpw" resultType="string">
		SELECT user_pw FROM user_info 
		WHERE user_id = #{param1} 
		AND user_email = #{param2}
	</select> 
</mapper>