<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 이름상관 없음. *.xml로 설정했으니까 -->
<!-- 이 xml이 어떤 interface와 연결되는지 설정 -->
<mapper namespace="com.gong.gu.dao.MypageDAO">

	<select id="orderlist" resultType="hashmap">
		SELECT 
		oi.order_no, oi.order_date, b.board_title, ga.groupbuy_state, oi.order_state , oi.order_quantity , oi.order_etc
		FROM order_info oi INNER JOIN board b USING (board_no) INNER JOIN groupbuy_addit ga USING (board_no) WHERE oi.user_id = #{param1}
	</select>

	<select id="inquirelist" resultType="hashmap">
		SELECT * FROM board INNER JOIN inquiry_addit USING (board_no) WHERE user_id = #{param1}
	</select>

	<select id="requirelist" resultType="hashmap">
		SELECT * FROM board INNER JOIN require_addit USING (board_no) WHERE user_id = #{param1}
	</select>
	
	
	<select id="login_temp" resultType="string">
	select user_id from user_info WHERE user_id=#{param1} AND user_pw = #{param2}
	</select>
	
	
	<select id="myprofile" resultType="com.gong.gu.dto.MemberDTO">
	select * from user_info where user_id = #{param1}
	</select>
	
	
	
	<!-- 임시, 혹은 다른 서비스에 관한것 -->
	<select id="orderlist" resultType="hashmap">
		SELECT 
		oi.order_no, oi.order_date, b.board_title, ga.groupbuy_state, oi.order_state , oi.order_quantity , oi.order_etc
		FROM order_info oi INNER JOIN board b USING (board_no) INNER JOIN groupbuy_addit ga USING (board_no) WHERE oi.user_id = #{param1}
	</select>	
	
	

</mapper>