<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 이름상관 없음. *.xml로 설정했으니까 -->
<!-- 이 xml이 어떤 interface와 연결되는지 설정 -->
<mapper namespace="com.gong.gu.dao.RequestBoardDAO">

	<!-- 요청글쓰기 -->
	<insert id="reqwrite" 
		useGeneratedKeys="true"
		keyProperty="board_no"
		keyColumn="board_no"
		parameterType="com.gong.gu.dto.BoardDTO">
		insert into board
			(user_id,board_title,board_content,board_name)
		values
			(#{user_id},#{board_title},#{board_content},'요청게시판')
	</insert>
	
	<!-- 요청글 파일올리기 -->
	<insert id="reqfilewrite">
		insert into photo
			(board_no, photo_oriname, photo_newname)
		VALUES
			(#{param1},#{param2},#{param3})
	</insert>
	
	<!-- 요청글쓰기 카테고리별 -->
	<insert id="reqwrite2">
		insert into require_addit
			(board_no, product_category_name)
		values
			(#{param1},#{param2})
	</insert>
	
	
	<!-- 요청글 수정 -->
	<update id="requpdate" parameterType="HashMap">
		update board set 
			board_title = #{board_title}
			,board_content = #{board_content}
			where board_no = #{board_no}
	</update>
	
	<!-- 요청글 수정 2(카테고리) -->
	<update id="requpdate2" parameterType="HashMap">
		update require_addit set product_category_name = #{product_category_name} where board_no = #{board_no}
	</update>
	
	
	<select id="RequestBoardDetail" resultType="hashmap">
		SELECT *
		FROM board b INNER JOIN require_addit ia 
		USING (board_no) WHERE board_no = #{param1}

	</select>





	<!-- 요청글 리스트 -->
	<select id="RequestList" resultType="hashMap">
       SELECT * 
       FROM board INNER JOIN (require_addit) USING (board_no) 
       WHERE board_exposure = 'Y'
    </select>



<!--  요청글 리스트(형민님) 

	<select id="list" resultType="com.gong.gu.dto.BoardDTO">
		SELECT board_no,board_title,user_id,board_bHit,board_date,board_exposure 
			FROM board where board_exposure = 'Y' and board_name = '요청게시판'  ORDER BY board_no DESC
	</select>

 -->
	
	<!-- 요청글 상세보기 -->
	<select id="detail" resultType="com.gong.gu.dto.BoardDTO">
	SELECT * FROM board WHERE board_no = #{param1}
	</select>

	<!-- 요청글 조회수 올리기 -->

	<update id="upHit">
		UPDATE board SET board_bHit = board_bHit+1 WHERE board_no = #{param1}
	</update>
	
	<!-- 글삭제 -->
	<update id="exposure">
		update board set board_exposure = 'N' where board_no = #{param1}
	</update>
	
	<!-- 사진 출력 -->
	<select id="photolist" resultType="com.gong.gu.dto.PhotoDTO">
		SELECT photo_oriname, photo_newName FROM photo
			WHERE board_no = #{param1} ORDER BY photo_no DESC
	</select>
	
	
	<select id="RequestBoardlist_allCount" resultType="int">
	select count (board_no) from board where board_name = '요청게시판';
	</select>
	
	<select id="RequestBoardlist_listCall" resultType="hashmap">
		SELECT * FROM board INNER JOIN require_addit USING (board_no) ORDER BY board_no DESC LIMIT 10 offset #{param2}
	</select>



</mapper>